name: Flutter CI for Android
on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
    paths-ignore:
      - "**.md"
jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: "temurin"
      - uses: ./.github/actions/install_flutter_dependencies
      - run: flutter --version
      - name: Install dependencies
        run: flutter pub get
      - name: build_runner
        run: dart run build_runner build --delete-conflicting-outputs
      - name: Analyze code
        run: flutter analyze
      - name: Run tests
        run: flutter test
      # - name: Build Android
      #   run: flutter build apk --release
