name: Debug Firebase Distribution

on:
  push:
    # どのブランチへのプッシュでも実行
  pull_request:    

jobs:
  deploy-firebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2 # 最新のv4を使用

      # miseを使用してFlutter/Dartなどの環境を一括構築
      - uses: jdx/mise-action@v3.6.1
        with:
          install: true

      - name: Install dependencies
        run: |
          flutter pub get
          cd android && bundle install

      - name: Build APK
        run: flutter build apk --release --dart-define-from-file=define/prod.json

      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: bundle exec fastlane android firebase