name: github-actions-check-pr

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2 # 最新のv4を使用

      # miseを使用してFlutter/Dartなどの環境を一括構築
      - uses: jdx/mise-action@v3.6.1
        with:
          install: true # .mise.tomlに基づいてインストールを実行

      # インストールされたことの確認
      - name: Check Flutter version
        run: flutter --version

      # 念のためpub getも通るか確認する場合
      - name: Install dependencies
        run: flutter pub get