name: Flutter CI for iOS
on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
    paths-ignore:
      - "**.md"
jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/install_flutter_dependencies
      - run: flutter --version
      - name: Install dependencies
        run: flutter pub get
      - name: build_runner
        run: dart run build_runner build --delete-conflicting-outputs
      - name: create .env
        run: touch .env
      - name: Analyze code
        run: flutter analyze
      # - name: Build iOS 
      #   run: flutter build ios --no-codesign